.overview{
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
  text-align: center;
}


.card_wrapper{
    text-align: center;
    /* background-color: blue; */
    justify-content: center;
    
    /* height: 50px;
    position: absolute;
    width: 170px;
    border-radius: 0 130px 0 130px;
    margin: 30px 0 0 -20px;
    padding: 10px;
    box-shadow: 05px 5px 7px 1px rgba(0, 0, 0, 0.2); */
}
.icontemp{
    /* background-color: rgb(0, 217, 255); */
    background: #00B19C;
    background: -webkit-linear-gradient(to right, #A0D9D9, #00B19C);
    background: linear-gradient(to right, #A0D9D9, #00B19C);
    opacity: 0.6;
    


    height: 70px;
    position: absolute;
    width: 160px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 90px 0 0 -40px;
    padding: 10px;
    z-index: 1;
    box-shadow: 05px 5px 7px 1px rgba(0, 0, 0, 0.2);

    align-items: center;
    justify-content: center;
    display: flex;
}
.icontemp img{
  height: 100px;
}
#icontemp{
  font-size: 30px;
  margin-right: 15px;
}

.card{
  position: relative;
  width: 300px;
  height: 450px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10%;
  padding: 20px;
  margin-left: 30px;
  /* align-items: center;
  justify-content: center; */
  }


  #weather-img {
  background-repeat: no-repeat;
  background-size: fixed;
  height: 450px;
  position: absolute; 
  top: 0px;
  left: 0px; 
  right: 0px;
  bottom: 0px;
  z-index: 0;
  /* opacity: 0.8; */
  width: 100%;
  /* align-items: center;
  justify-content: center; */
  border-radius: 0 130px 0 130px;
  box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2);
    
    
  }
  .title{
    color: black;
    font-weight: 800;
    font-size: 30px;
  }
  
  .main-container{
    position: absolute;
    justify-content: center;
    right: 0px;
    background-image: linear-gradient(grey, white);
    opacity: 0.65;
    border-radius: 0 130px 0 130px;
    box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2);
    
    margin-right: 10px;
    width: 70%;
    height: 95%;
    color: aquamarine;
    text-align: center;
    /* z-index: 2; */
  }
  .main-container h4{
    font-size: 25px;
    font-weight: 800;
  }
  .temp{
    background-color: azure;
    padding: 5px;
  }