body
{
    font-family: 'Courier New', Courier, monospace;
	background-color: rgb(0, 0, 0);
	
   
}
#container
{
	width: 300px;
	height: 500px;
	/* background-image: linear-gradient(rgba(9, 160, 140, 0.3),rgba(19, 192, 204, 0.603)), url(/Web-development/Sources/IMG/codewars.jpg); */
	/* background-image: url(/Web-development/Sources/IMG/codewars.jpg); */
	background-image: url(/Web-development/Sources/IMG/starmil.txt);
	/* margin: 20px auto;	 */
	margin: 0 auto;
	top: 50px;
	position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#calculator
{
	width: 300px;
	height: 500px;
	background-color: #0000007c;
	margin: 0 auto;
	/* top: 10px; */
	position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
#result{
    height: 120px;
    background-color: rgba(41, 41, 93, 0.507);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
    color: white;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
    font-size: 30px;
	color:yellow;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
    /* text-overflow: ellipsis; */

}
#keyboard{
	height: 400px;
	width: 300px;
	display: grid;
	justify-content: center;
	align-content: center;
	/* min-height: 400px; */
	grid-template-columns: repeat(4, 70px);
	grid-template-rows: repeat(4, 70px);
	/* grid-template-rows: minmax(50px, auto)repeat(4, 70px); */

}
.operator, .number{
	width: 60px;
	height: 60px;
	outline: none;
	margin: 5px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number{
	background-color: rgba(47, 231, 255, 0.157);
}
.number:active
{
	background-color: cyan;
	font-size: 20px;
}
.operator{
	background-color: rgba(47, 255, 127, 0.137);
}
.operator:hover{
	background-color: rgba(255, 123, 47, 0.322);
	font-size: 20px;
}
.number, .operator{
	cursor: pointer;
}
.span-two{
	grid-column: span 2;
}
/* .operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
} */


button:nth-child(4){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.233);
}
button:nth-child(4):hover{
	font-size: 40px;
	background-color: rgba(246, 156, 12, 0.233);
	color: rgba(0, 0, 255, 0.281);
}

button:nth-child(8){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.233);
}
button:nth-child(8):hover{
	font-size: 40px;
	background-color: rgba(246, 156, 12, 0.233);
	color: rgba(0, 0, 255, 0.281);
}

button:nth-child(12){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.233);
}
button:nth-child(12):hover{
	font-size: 40px;
	background-color: rgba(246, 156, 12, 0.233);
	color: rgba(0, 0, 255, 0.287);
}

button:nth-child(16){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.233);
}
button:nth-child(16):hover{
	font-size: 40px;
	background-color: rgba(246, 156, 12, 0.233);
	color: rgba(0, 0, 255, 0.322);
}

button:nth-child(17){
    width: 130px;
    height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
button:nth-child(19){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.986);
}
button:nth-child(19):hover{
	font-size: 35px;
	background-color: rgba(172, 255, 47, 0.109);
	color: rgba(51, 179, 190, 0.705);
	
}