body
{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 0, 0);
   
}
#container
{
	width: 350px;
	height: 540px;
	background-image: linear-gradient(rgba(9, 160, 140, 0.3),rgba(19, 192, 204, 0.603)), url(/Web-development/Sources/IMG/);
	margin: 20px auto;	
}

#calculator
{
	width: 300px;
	height: 500px;
    background-color: #0000006b;
	margin: 0 auto;
	top: 20px;
	position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
#result{
    height: 120px;
    background-color: rgb(69, 69, 85);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
    color: white;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
    font-size: 30px;
    color:yellow
}
#keyboard{
	height: 400px;
}


.operator, .number{
	width: 60px;
	height: 60px;
	margin: 5px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number{
	background-color: #334a5a;
}
.number, .operator{
	cursor: pointer;
}
/* .operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
} */


button:nth-child(4){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.986);
}
button:nth-child(8){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.986);
}
button:nth-child(12){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.986);
}
button:nth-child(16){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.986);
}
button:nth-child(17){
    width: 130px;
    height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
button:nth-child(19){
	font-size: 20px;
	background-color: rgba(172, 255, 47, 0.986);
}